AuthName "layout"
AuthType Basic
require valid-user
AuthUserFile var/www/html

body{
background-color: #000000;
margin: 2px;
border: 2px;
padding: none;
}
caption{
background-color: #5F9EA0;
margin: 1px;
border: 1px;
padding: 5px 95px 5px 95px;
}
section{
background-color: #C0CFFF;
display: auto;
margin: 1px;
border: 0px;
padding: 60px 90px 60px 90px;
}
article{
background-color: #FF0000;
position: middle;
display: grid;
margin: -1px;
border: 0px;
padding: 30px 50px 30px 90px;
}
aside{
background-color: #66ccff;
margin: -12px;
border: 1px;
padding: 50px 90px 50px 90px;
}
footer{
width: 100%;
height: 60px;
position: fixed;
bottom: 2px;
left: 2px;
background-color: #c0c0c0;
}
