AuthName "menu"
AuthType Basic
require valid-user
AuthUserFile var/www/html

header h1{
background-color:#00DDDD;
font:#FFFFFF;
margin:1px;
border:1px;
padding:1em;
}
﻿﻿nav.menu{
background-color:#000000;
display:inline-block;
margin:0%;
border:0%;
padding:20px 80px 20px 80px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
}
li {
    float:left;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color: #111;
}
