AuthName "menu"
AuthType Basic
require valid-user
AuthUserFile var/www/html

header{
background-color: #4682B4;
font-size: 20px; 
font: #FFFFFF;
margin: 1px;
border: 1px;
padding: 2em;
}
﻿﻿nav.menu{
bakground-color: #000000;
display: list-inline-block;
margin: 0%;
border: 0%;
padding: 20px 80px 20px 80px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
